body {
	/* 背景 */
	background-image: url("/Final/img/2445339803-kabekin-nZkY-1366x768-MM-100.jpg") ;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;

	/* 文字 */
    color: white;
	}
