body {
	/* 背景 */
	background-image: url("/Final/img/resize-img.php.jpg") ;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;

	/* 文字 */
    color: white;
	}