body {
	/* 背景 */
	background-image: url("/Final/img/fantasy_art_lantern_landscape_artwork_trees-47480.jpg!d.jpg") ;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;

	/* 文字 */
    color: white;
	}
